<div class="item">
  <div class="content single-post">
    <div class="align-middle">
      <div class="row align-middle">
        <a class="post-title col-8" href="/posts/{{id}}">{{post_title}}</a>
        <span class="post-info col-4">
          Post by
          {{user.username}}
          on
          {{format_date created_at}}
          <span><p>{{comment_count}}
              comments</p></span>
        </span>
      </div>
    </div>
    <p class="post-body text-justify">{{post_text}}</p>
    {{!-- <div class="post-title"><a
        class="header"
        href="/posts/{{id}}"
      >{{post_title}}</a><span class="post-info">{{user.username}}
        on
        {{created_at}}<span>
          {{comment_count}}
          comments</span></span></div>
    <p class="post-body">{{post_text}}</p> --}}

  </div>
</div>