<div class="item">
  <div class="content">
    <a class="header" href="/posts/{{id}}">{{post_title}}</a>
    <p class="post_text">{{post_text}}</p>
    <div class="description">{{user.username}}
      on
      {{created_at}}<span>
        {{comment_count}}
        comments</span></div>
  </div>
</div>